@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";

.inputs {
  margin : 2rem;
  .inputs-sender {
    padding : 1rem;
    width : 20%;
    min-width: 10rem;
    margin-right : 2rem;
  }
  .inputs-message {
    padding : 1rem;
    width : 50%;
    min-width: 20rem;
    margin-right : 2rem;
  }
}

.list {
  margin : 2rem;
  .mui-paper-container{
    padding : 1rem;
  }
}
